<p id="notice"><%= notice %></p>

<%= link_to 'New Event', new_event_path %>

<h2>previous Events</h2>

<div class="row mb-2">
  <% @previous_events.each do |event| %>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Completed</strong>
          <h3 class="mb-0"><%= event.title %></h3>
          <div class="mb-1 text-muted"> <%= event.event_date %> </div>
          <p class="card-text mb-auto"><%= event.description %> </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  <% end %>
</div>



<br>

<h2>Upcomings Events</h2>

<div class="row mb-2">
  <% @upcoming_events.each do |event| %>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Completed</strong>
          <h3 class="mb-0"><%= event.title %></h3>
          <div class="mb-1 text-muted"> <%= event.event_date %> </div>
          <p class="card-text mb-auto"><%= event.description %> </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>


